<div id="<%= dom_id office %>">
  <p>
    <strong>Name:</strong>
    <%= office.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= office.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= office.phone %>
  </p>

  <p>
    <strong>Locality:</strong>
    <%= office.locality.name %>
  </p>

  <p>
    <strong>Schedule:</strong>
    
    <% office.schedules.map do |s| %>
      <div>
      <%= s.day %>: <%= s.start_time.strftime("%H:%M") %> - <%= s.end_time.strftime("%H:%M") %>
      </div>
    <% end %>
  </p>

</div>
