<p style="color: green"><%= notice %></p>

<%= render @model %>

<div>
  <%= link_to "Edit this office", edit_office_path(@model) %> |
  <%= link_to "Back to offices", offices_path %>

  <%= button_to "Destroy this office", @model, method: :delete %>
</div>
